{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<script>
  function doClick() {
    var databaseType = "{{ data['database_type']}}"
     if (databaseType == 'existing')
         window.location.href = "table_name.html";
     else
         window.location.href = "table_name_new.html";
  }
</script>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before uploading your data</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Database
          </dt>
          <dd class="govuk-summary-list__value">
            mojap_derived_table
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="database_name.html">Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Table
          </dt>
          <dd class="govuk-summary-list__value">
            my_table_name
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="table_name.html" onclick="doClick(); return false;">Change</a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Governance requirements
          </dt>
          <dd class="govuk-summary-list__value">
            confirmed
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="governance.html">Change</a>
          </dd>
        </div>
      </dl>

      <form action="confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm and upload data
        </button>

      </form>

    </div>
  </div>
{% endblock %}