{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
      </div>

      <h2 class="govuk-heading-m">Application Details</h2> 
      <ul class="govuk-list govuk-list--bullet">
        <li>Database name: </li>
        <li>Table name: </li>
        <li>Upload Date:</li>
        <li>Upload Time:</li>
      </ul>

      <!-- <p>
        We have sent you a confirmation email.
      </p> -->

      <h2 class="govuk-heading-m">What happens next</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>We have loaded your data to the landing area.</li>
        <li>We will notify you if the data fails to be loaded to the Analytics Platform.</li>
      </ul>

      <h2 class="govuk-heading-m">Do you wish to upload more data?</h2>
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Upload more data",
        href: "database_name.html"
      }) }}

    </div>
  </div>

{% endblock %}
