{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Upload complete</h1>
      </div>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Upload details</caption>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Database</th>
            <td class="govuk-table__cell">database_1</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Table</th>
            <td class="govuk-table__cell">table_1</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Upload date</th>
            <td class="govuk-table__cell">20/20/2021</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Upload time</th>
            <td class="govuk-table__cell">14:05:31</td>
          </tr>
        </tbody>
      </table>

      <!-- <p>
        We have sent you a confirmation email.
      </p> -->

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>It may take up to a day for the data to be available on the Analytical Platform.</p>
      <p>If your data is not available in the Analytical Platform after 2 days, please contact <a href="mailto:data-engineering@digital.justice.gov.uk">data-engineering@digital.justice.gov.uk</a>.</p>
      <p>You can now close this screen or start again to upload more data.</p>

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Upload more data",
        classes: "govuk-button--secondary",
        href: "database_name.html"
      }) }}

    </div>
  </div>

{% endblock %}
