{% extends "layout.html" %}

{% block pageTitle %}
  File Location
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Upload the data</h1>

      <form class="form" action="check_answers" method="post">

        <p>Select the file to upload. It must be:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>less than 2 MB</li>
          <li>CSV or JSON</li>
        </ul>

        <div class="govuk-form-group govuk-form-group--error">

          <p id="file-upload-1-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> The CSV must be smaller than 2MB
          </p>
          <input class="govuk-file-upload govuk-file-upload--error" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-error">
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
