{% extends "layout.html" %}

{% block pageTitle %}
  File Location
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukFileUpload({
  id: "file-upload-1",
  name: "file-upload-1",
  label: {
    text: "Upload the file",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "The file must be smaller than 2MB and in csv or json format"
  },
  errorMessage: {
    text: "The file must be smaller than 2MB"
  }
}) }}


{{ govukButton({
  text: "Continue",
  href: "check_answers.html"
}) }}

{% endblock %}
