{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Use this service to upload data to the Analytical Platform.</p>

      <p>You cannot use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>replace existing data in the Analytical Platform</li>
        <li>upload multiples files at one</li>
      </ul>

      <p>Uploading the data takes around 2 minutes. It may take up to a day for the data to be available on the Analytical Platform.</p>

      <a href="database_name" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>Make sure your data:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>is less than 2MB</li>
        <li>is in JSON or CSV format</li>
        <li>complies with governance requirements</li>
      </ul>

  </div>
{% endblock %}
