{% extends "layout.html" %}

{% block pageTitle %}
Table Name
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Table Name</h1>

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set existingHtml %}
{{ govukSelect({
  id: "table_list",
  name: "table_list",
  classes: "govuk-!-width-one-third",
  items: [
    {
      value: "table_1",
      text: "table_1",
      selected: true
    },
    {
      value: "table_2",
      text: "table_2"
    },
    {
      value: "table_3",
      text: "table_3"
    },
    {
      value: "table_4",
      text: "table_4"
    }
  ]
}) }}
{% endset -%}

{% set newHtml %}
{{ govukInput({
  id: "table_new",
  name: "table_new",
  hint: {
    text: "Do not include spaces, capital letters or special characters"
  },
  classes: "govuk-!-width-one-third"
}) }}
{% endset -%}

{{ govukRadios({
  idPrefix: "table-type",
  name: "table-type",
  fieldset: {
    legend: {
      text: "Which table should the data be uploaded to?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "Select one option."
  },
  items: [
    {
      value: "existing",
      text: "Select an existing table",
      conditional: {
        html: existingHtml
      }
    },
    {
      value: "new",
      text: "Create a new table",
      conditional: {
        html: newHtml
      }
    }

  ]
}) }}

{{ govukButton({
  text: "Continue",
  href: "dpia_confirmed.html"
}) }}

{% endblock %}