{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Table Name</h1>

      <form action="dpia_confirmed" method="post">
      
        <div class="govuk-form-group">
          <label class="govuk-label moj-search__label" for="search">
            Search for an existing table
          </label>
    
          <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Select an existing table
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="published" selected>other</option>
            <option value="updated">tb2</option>
            <option value="views">tb3</option>
            <option value="comments">tb4</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort">
            Otherwise enter the name of the new table
          </label>
          <input class="govuk-input" id="event-name" name="event-name" type="text">
        </div>
    
        <button class="govuk-button moj-search__button " data-module="govuk-button">
          Continue
        </button>
    
      </form>

    </div>
  </div>

{% endblock %}
